.body_container {
	background-color: #f8f9fa;
	margin-top: 5px;
	min-height: 900px;
	max-height: 900px;
	padding-top: 20px
}

.side_nav_con {
	overflow: hidden;
	overflow-y: scroll;
	overflow-x: scroll;
	max-height: 880px;
	cursor: pointer;
}

.loader_con {
	position: absolute;
	top: 300px;
	z-index: 1000;
	left: 346px;
}

span.badge.badge-primary.badge-pill {
    float: right;
}